name: ci

on: [push]

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Golang
      uses: actions/setup-go@v5
      with:
        go-version: 1.26
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
    - name: Test code
      run: go test -v ./...
